.accordion {
    //margin: 1rem;
    padding: 0.5rem 0;

    --duration: 600ms;
    --function: ease;
    --animation-enter: var(--duration) var(--function) 0ms 1 normal forwards;
    --animation-exit: var(--duration) var(--function) 0ms 1 reverse forwards;

    --content-frame-border: 4px solid var(--main-color);
}

.contentArea {
    position: relative;
}

.contentFrame {
    position: absolute;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    left: -4px;
    top: -4px;
    padding: 0;
}

.contentAreaEnterActive {
    animation: contentAreaAnimation var(--animation-enter);
}

.contentAreaEnterActive .contentFrame {
    animation: contentFrameAnimation var(--animation-enter);
}
.contentAreaEnterActive .innerContent {
    animation: innerContentAnimation var(--animation-enter);
}

.contentAreaExitActive {
    animation: contentAreaAnimation var(--animation-exit);
}

.contentAreaExitActive .contentFrame {
    animation: contentFrameAnimation var(--animation-exit);
    padding: 0;
}
.contentAreaExitActive .innerContent {
    animation: innerContentAnimation var(--animation-exit);
}


@keyframes contentAreaAnimation {
    0% {
        padding: 0 1rem;
        max-height: 0;
    }
    25% {
        padding: 1rem 1rem;
        max-height: 50vh;
    }
    75% {}
    100% {
        padding: 1rem 1rem;
    }

}

@keyframes contentFrameAnimation {
    0% {
        max-width: 0;
        border: 0 solid var(--main-color);
        opacity: 0;
    }
    24.99% {
        opacity: 0;
        border: var(--content-frame-border);
    }
    25% {
        max-width: 0;
        opacity: 1;
    }
    75% {
        max-width: 100%;
        border: var(--content-frame-border);
    }
    100% {
        max-width: 100%;
        border: var(--content-frame-border);
    }
}

@keyframes innerContentAnimation {
    0% {
        opacity: 0;
    }
    25% {
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}